<div class="breadTop" [ngClass]="{'impress': impress_page }">
  <ul class="breadcrumb">

    <li *ngIf="_urls[0]!='/'" [ngClass]="{'active': last}"> <!-- disable link of last item -->
      <span ><a role="button" *ngIf="!last" (click)="navigateTo('/')">Accueil</a></span>
    </li>


    <li *ngFor="let url of _urls; let last = last" [ngClass]="{'active': last}"> <!-- disable link of last item -->
      <a role="button" *ngIf="!last" (click)="navigateTo(url)">{{friendlyName(url)}}</a>
      <span *ngIf="last">{{friendlyName(url)}}</span>
    </li>
  </ul>
</div>
