<div class="global">
  <h1>CONDITIONS GÉNÉRALES D’UTILISATION DU SITE TF1 CONSO</h1>
  <h2>I. DÉFINITIONS</h2>
  <p class="desc">
    Pour les besoins des présentes conditions générales d’utilisation, les termes suivants en majuscules ont la définition ci-après mentionnée :
  </p>
  <ul class="desc">
    <li>« CGU ou Conditions Générales d’Utilisation » : désignent l’ensemble des stipulations prévues aux présentes ayant pour objet de définir les modalités et règles d’accès et d’utilisation du Site.</li>
    <li>« Site » : désigne le site internet disponible à l'adresse www.tf1conso.fr, édité par e-TF1. Le Site permet aux Utilisateurs d’accéder à des offres promotionnelles ciblées de partenaires commerciaux présents sur la zone géographique choisie par l’Utilisateur ainsi qu’aux publicités accompagnant ces offres.</li>
    <li>« Compte Utilisateur » : désigne un espace réservé à l'Utilisateur accessible, après inscription, via un identifiant et un mot de passe confidentiel, et lui permettant notamment d’accéder à certaines Offres de Réduction et de créer un espace personnalisé.</li>
    <li>« Contenus » : désigne notamment et sans limitation la structure du Site, le contenu éditorial, les textes, les Offres de Réduction, et tout autre élément composant le Site.</li>
    <li>« Offres de Réduction » : offres promotionnelles ciblées de partenaires commerciaux notamment sous forme de coupons électroniques et/ou d’offres promotionnelles, dont les caractéristiques et les modalités sont définies sous la seule responsabilité des Partenaires.
    </li>
    <li>« e-TF1 » : désigne la société e-TF1, S.A.S au capital de 1.000.000 euros (RCS Nanterre n°428 155 691) dont le siège social est situé 1, quai du Point du Jour - 92100 Boulogne-Billancourt.</li>
    <li>« Partenaires » : sociétés proposant des offres promotionnelles sur le Site, notamment sous forme d’Offres de Réduction et/ou d’offres promotionnelles limitées dans le temps.</li>
  </ul>
  <br>
  <h2>II. ACCÈS AU SITE</h2>
  <p class="desc">
    e-TF1 met à votre disposition le Site, et vous invite à l'utiliser, sous réserve que vous (ci-après l’ « Utilisateur ») vous engagiez à respecter les dispositions des CGU, ainsi qu'à respecter l'ensemble des lois applicables. L’utilisation du Site est réservée exclusivement aux seules personnes ayant accepté les présentes CGU pour bénéficier des Offres de Réduction des Partenaires.
  </p>
  <p class="desc">
    L’accès à certaines Offres de Réduction peut être subordonné à votre acceptation pleine et entière de conditions spécifiques d’utilisation (ci-après les « Conditions Spécifiques d’Utilisation ») définies sous la seule responsabilité des Partenaires.
  </p>

  <br>
  <h2>III. ACCESSIBILITE</h2>
  <p class="desc">
    Vous reconnaissez et acceptez expressément que :
  </p>
  <ul class="desc">
    <li>C'est en toute connaissance de cause que vous utilisez le Site qui vous propose des contenus accessibles selon la qualité du réseau Internet. Notamment, e-TF1 n’assure aucune garantie expresse ou implicite concernant la qualité et la compatibilité du Site aux usages spécifiques que vous en faites, et e-TF1 emploiera ses meilleurs efforts pour maintenir le Site dans un état opérationnel.</li>
    <li>Vous êtes informé qu'en aucune manière nous ne sommes en mesure de vous apporter la garantie que le Site répondra exactement à vos attentes et qu'aucune erreur n'apparaisse au cours de l'utilisation du Site. Nous ne garantissons pas que les résultats, les informations obtenus sont exempts de toute erreur ou défaut. e-TF1 dégage toute responsabilité quant aux éventuelles contestations, actions ou recours de tiers qui viendraient à se prévaloir de droits notamment privatifs, sur tout contenu non créé par e-TF1.</li>
    <li>Nous vous informons qu'à tout moment e-TF1 peut modifier, interrompre temporairement ou définitivement le Site, et ce sans avoir à vous en informer au préalable. e-TF1 ne prend aucun engagement de maintenir un accès permanent et ininterrompu aux Offres de Réduction.</li>
  </ul>
  <br>
  <h2>IV. DISPONIBILITÉ</h2>
  <p class="desc">
    e-TF1 s'efforce dans la mesure qu'elle détermine de maintenir accessible le Site 7 jours sur 7 et 24 heures sur 24, mais n’est tenue à aucune obligation d'y parvenir. L’accès au Site peut donc être interrompu, notamment pour des raisons de maintenance et de mise à niveau. L'accès peut également être interrompu pour toutes autres raisons, notamment techniques, sans aucune obligation d'information préalable de la part d’e-TF1.
  </p>
  <p class="desc">
    e-TF1 n’est en aucun cas responsable de ces interruptions et des conséquences qui peuvent en découler pour les Utilisateurs ou tous tiers. Le Site n’a pas vocation à fournir une assistance ou une " hot - line ".
  </p>
  <p class="desc">
    e-TF1 n’offre aucune garantie quant au fonctionnement ininterrompu et/ou la continuité du Site en cas de force majeure ou cas fortuits tels que définis par la réglementation en vigueur. Sont considérés notamment comme cas de force majeure les intempéries exceptionnelles, les catastrophes naturelles, les incendies et inondations, la foudre, les attentats, les cas de rupture et de blocage des réseaux de communications électroniques, les dommages provoqués par des virus pour lesquels les moyens de sécurité existant sur le marché ne permettent pas leur éradication, ainsi que toute disposition légale ou réglementaire ou d'ordre public imposée par les autorités compétentes et qui aurait pour effet de modifier substantiellement les présentes Conditions Spécifiques d'Utilisation, ou tout autre évènement de force majeure ou cas fortuit au sens de la jurisprudence de la Cour de cassation.
  </p>
  <p class="desc">
    Par ailleurs, e-TF1 ne pourra être tenue responsable du manque de performance des services et/ou de logiciels employés ou téléchargés à partir du Site ; de la perte de données ou de services résultant de la non tenue de délais, de la modification, de la suspension ou de l'interruption des Offres de Réduction ; ni des conséquences découlant directement ou indirectement de la transmission de virus par le biais de ses serveurs.
  </p>
  <p class="desc">
    En cas d'utilisation d'un proxy (notamment en réseau d'entreprise), il est possible que la connexion au Site soit inopérante. Nous vous conseillons alors de procéder à sa désinstallation. A défaut, e-TF1 ne garantit pas l'accès aux Offres de Réduction.
  </p>
  <br>
  <h2>V. CONDITIONS SPÉCIFIQUES D'UTILISATION</h2>
  <p class="desc">
    Chaque Offre de Réduction proposée sur le Site est soumise à Conditions Spécifiques d’Utilisation. Ces dernières étant identifiées comme telles sous la seule et entière responsabilité de chaque Partenaire.
  </p>
  <p class="desc">
    D’une manière générale, e-TF1 ne saurait être tenue responsable du contenu des Offres de Réduction proposées sur le Site, ni de l’ensemble des informations consultées ou transactions réalisées sur les services des Partenaires.
  </p>
  <p class="desc">
    Les Partenaires sont seuls responsables, le cas échéant, du respect de l’ensemble des réglementations s’appliquant dans le cadre des prestations proposées aux Utilisateurs, et notamment, des lois et règlements relatifs à l’hébergement, à la vente à distance, à la protection du consommateur, aux pratiques commerciales trompeuses ou agressives, aux prix ainsi que la législation concernant la conformité des produits.
  </p>
  <p class="desc">
    e-TF1 ne fournira aucune prestation ni garantie quant aux Offres de Réduction proposées aux Utilisateurs et ne saurait, en aucun cas, être tenue responsable en cas d’indisponibilité d’une ou plusieurs Offre(s) de Réduction et/ou d’impossibilité d’y accéder. La responsabilité d'e-TF1 ne saurait être engagée à raison d'un achat effectué par l'Utilisateur ou d'un refus d'acceptation par un Partenaire et/ou commerçant (dans les cas prévus aux présentes) d’une Offre de Réduction obtenue sur le Site.
  </p>
  <p class="desc">
    L'Utilisateur déclare que l'utilisation du Site qu'il effectue est sans rapport direct avec son activité professionnelle. Les Offres de Réduction sont réservées à une utilisation personnelle de la part de l'Utilisateur.
  </p>
  <p class="desc">
    Toute réclamation en cas de refus d'une Offre de Réduction par un Partenaire devra être adressée directement à celui-ci.
  </p>
  <br>
  <h2>VI. RESPONSABILITÉ</h2>
  <p class="desc">
    e-TF1 décline toute responsabilité en cas d'utilisation anormale ou d'une exploitation illicite du Site. L'Utilisateur est alors seul responsable des dommages causés aux tiers et des conséquences des réclamations ou actions qui pourraient en découler. L'Utilisateur renonce également à exercer tout recours contre e-TF1 dans le cas de poursuites diligentées par un tiers à son encontre du fait de l'utilisation et/ou de l'exploitation illicite du Site. e-TF1 se réserve la possibilité de saisir toutes voies de droit à l'encontre de toute personne qui accéderait frauduleusement, à tout ou partie d'un système de traitement automatisé de données du Site.
  </p>
  <p class="desc">
    Les Offres de Réduction présentées sur le Site sont diffusées sous la responsabilité exclusive du Partenaire qui les propose. e-TF1 fait ses meilleurs efforts pour diffuser une information de qualité sur le Site. Cependant e-TF1 n'est pas en mesure de vérifier les informations relatives aux Offres de Réduction communiquées sous l'entière responsabilité du Partenaire.
  </p>
  <p class="desc">
    Dans ce cadre, e-TF1 décline notamment toute responsabilité concernant :
  </p>
  <ul class="desc">
    <li>le descriptif des Offres de Réduction ;</li>
    <li>la qualité des biens ou des prestations proposés ;</li>
    <li>le stock disponible ;</li>
    <li>les éventuelles modifications des conditions des Offres de Réduction par les Partenaires ;</li>
    <li>le respect de la législation par les Partenaires des Offres de Réduction.</li>
  </ul>
  <br>
  <h2>VII. DURÉE</h2>
  <p class="desc">
    Les présentes CGU s'appliquent pendant toute la durée de leur disponibilité sur le Site et jusqu'à ce que de nouvelles CGU les remplacent.
  </p>
  <br>
  <h2>VIII. INSCRIPTION / CRÉATION DU COMPTE UTILISATEUR</h2>
  <p class="desc">
    Pour accéder à certaines Offres de Réduction proposées, l'Utilisateur doit se créer un Compte Utilisateur. L’Utilisateur est informé dès lors qu’une démarche en ce sens est nécessaire.
  </p>
  <p class="desc">
    Lors de la création de son Compte Utilisateur, l'Utilisateur doit choisir un identifiant et un mot de passe. Il doit, par ailleurs, remplir un formulaire en renseignant ses champs avec certaines informations à caractère personnel le concernant (nom, prénom, sexe, date de naissance, adresse électronique valide). Le formulaire précise le caractère obligatoire ou facultatif des réponses à fournir par l'Utilisateur.
  </p>
  <p class="desc">
    L'Utilisateur s'engage à communiquer toutes les informations obligatoires requises par le formulaire d'inscription indispensables à la validation de son Compte Utilisateur.
  </p>
  <p class="desc">
    L'Utilisateur certifie que les informations qu'il communique pour la création de son Compte Utilisateur (notamment son adresse mail) sont exactes, complètes et sincères. e-TF1 pourra, en cas de manquement de l'Utilisateur à l'un de ses engagements précédemment évoqués, exiger la modification de l'adresse électronique et/ou de son identifiant. En cas de refus de modification de l'un de ces éléments, e-TF1 se réserve le droit de suspendre et/ou supprimer le Compte Utilisateur.
  </p>
  <p class="desc">
    e-TF1 confirme l'inscription et la création du Compte Utilisateur en adressant automatiquement à l'Utilisateur un mail de confirmation. E-TF1 ne pourra être tenue responsable si les données de l'Utilisateur relatives à son inscription ne lui parvenaient pas ou seulement de manière partielle ou illisible en raison d'incompatibilités ou de défaillances techniques, imputables notamment aux installations de l'Utilisateur (serveur Internet, matériels, logiciels, etc.).
  </p>
  <p class="desc">
    Les informations communiquées à e-TF1 par l'Utilisateur dans le cadre de son inscription sont strictement confidentielles. L'Utilisateur reconnait avoir l'entière responsabilité de la conservation et de la confidentialité de son identifiant et mot de passe.
  </p>
  <p class="desc">
    L'Utilisateur est en conséquence seul responsable de l'utilisation de son Compte Utilisateur.
  </p>
  <p class="desc">
    Toute connexion et transmission de données effectuées via un Compte Utilisateur seront réputées avoir été effectuées par l'Utilisateur titulaire du Compte Utilisateur et sous sa responsabilité exclusive.
  </p>
  <p class="desc">
    e-TF1 ne saurait en aucun cas être responsable en cas d'usurpation d'un Compte utilisateur par une personne autre que le titulaire du Compte Utilisateur.
  </p>
  <p class="desc">
    En cas d'utilisation frauduleuse de son mot de passe et/ou de son identifiant, l'Utilisateur s'engage à en informer immédiatement e-TF1.
  </p>
  <p class="desc">
    L'Utilisateur reconnaît être parfaitement informé du fait que son accord relatif au contenu des présentes CGU ne nécessite pas la signature manuscrite de ce document, mais résulte de sa seule utilisation du Site. Les présentes CGU constituent un contrat conclu sous forme électronique. En conséquence, il est expressément convenu que l'acceptation en ligne des présentes CGU en constitue une acceptation formelle et lie contractuellement les parties.
  </p>
  <p class="desc">
    L'Utilisateur déclare avoir la pleine capacité juridique lui permettant de s'engager au titre des présentes CGU.
  </p>
  <p class="desc">
    Dans le cas où l'Utilisateur serait âgé de moins de dix-huit (18) ans, ce dernier reconnaît avoir reçu l'autorisation de ses parents, tuteur ou représentant légal afin de créer un Compte Utilisateur.
  </p>
  <p class="desc">
    Certaines Offres de Réduction sont réservées exclusivement aux personnes majeures, et sont mentionnées explicitement comme telles (la responsabilité de la précision de cette mention incombant au Partenaire), e-TF1 ne pourra donc pas être tenue responsable en cas de refus du ou des Coupon(s) de Réduction de ce fait.
  </p>
  <p class="desc">
    L'Utilisateur dispose de la faculté de sauvegarder ou d'éditer les présentes CGU en utilisant les fonctionnalités standard de son navigateur ou de son terminal. Cette sauvegarde ou édition des CGU relève de la seule responsabilité de l'Utilisateur et n’engage en aucun cas e-TF1 pour qui seule la version en ligne des CGU fait foi.
  </p>

  <br>
  <h2>IX. DONNÉES À CARACTÈRE PERSONNEL</h2>
  <p class="desc">
    La collecte des informations personnelles que tout Utilisateur serait amené à transmettre à e-TF1 dans le cadre de la création de son Compte Utilisateur est soumise aux dispositions de la loi n°78-17 informatique et libertés du 6 janvier 1978 modifiée.
  </p>
  <p class="desc">
    L'Utilisateur dispose d'un droit général d'accès, de rectification, d'opposition et de suppression des données personnelles qui le concernent qu'il peut exercer à tous moments à l'aide de son identifiant et de son mot de passe en accédant à son Compte utilisateur. Pour l'exercer auprès de la société e-TF1, vous pouvez contacter ladite société par courrier électronique à l'adresse suivante : contacttf1conso@tf1.fr. Ou, sous réserve de justifier de son identité, par écrit aux adresses postales suivantes :

  </p>
  <ul class="desc">
    <li>e-TF1<br>
      Service Marketing<br>
      1, quai du Point du Jour<br>
      92100 BOULOGNE - BILLANCOURT</li>
   <!-- <li>CheckAndTake<br>
      28 Bis, boulevard de Sébastopol<br>
      75004 Paris</li>-->
  </ul>
  <p class="desc">
    A la clôture du compte et à toutes fins de preuve, des données concernant l'Utilisateur peuvent être conservées et archivées confidentiellement par e-TF1, selon les lois en vigueur.
  </p>
  <p class="desc">
    Les données sont destinées à e-TF1 dans le but d'une éventuelle mise en relation avec leurs partenaires respectifs, à condition que l'Utilisateur y ait préalablement et expressément consenti et de recevoir des informations relatives à leurs produits et services respectifs.
  </p>
  <p class="desc">
    L'archivage de ces données par e-TF1 et ses partenaires éventuels est effectué sur un support fiable et durable conformément aux règles légales en vigueur. En cas de litige entre les données ainsi conservées par e-TF1 et tout document fourni par vous, il est expressément convenu au titre de convention de preuve que les informations et données de e-TF1 primeront et seront seules admises à titre de preuve.
  </p>
  <p class="desc">
    L'Utilisateur s'engage à ne pas endommager, accéder illégalement ou modifier les données stockées sur le serveur de e-TF1.
  </p>
  <br>
  <h2>X. COOKIES</h2>
  <p class="desc">
    Les contenus de notre Site, notamment les contenus éditoriaux ou les espaces publicitaires, peuvent comporter des fichiers cookies, à savoir des fichiers texte non exécutables, et/ou des technologies similaires (notamment tags et/ou balises web).
    </p>
  <p class="desc">
    E-TF1 vous informe qu’ils pourront être déposés sur votre terminal de connexion pour vous permettre d’accéder à des services et offres adaptés à vos centres d’intérêts et réaliser des statistiques de visite.
  </p>
  <p class="desc">
    Ces dispositifs sont émis soit par une société du Groupe TF1 ou l’un de ses prestataires, soit par un tiers.
  </p>
  <p class="desc">
    Le rejet complet de tout ou partie de ces dispositifs peut rendre certaines fonctions du Site inutilisables.
  </p>
  <br>
  <h2>XI. PROPRIÉTÉ INTELLECTUELLE</h2>
  <h3>DROIT D'AUTEUR</h3>
  <p class="desc">
    Le Site et ses Contenus sont protégés ou sont susceptibles d'être protégés par le droit d'auteur conformément aux lois françaises et aux lois et traités internationaux relatifs à la propriété intellectuelle. Ces contenus sont la propriété soit d'e-TF1, soit de tiers ayant concédé à e-TF1 les droits et licences nécessaires pour les utiliser sur le Site.
  </p>
  <p class="desc">
    Tout usage et/ou reproduction de tout ou partie du Site et/ou des Contenus autre que pour l'usage personnel et privé de l'Utilisateur est strictement interdit sans l'accord préalable et écrit d'e-TF1 et/ou de son propriétaire.
  </p>
  <p class="desc">
    L'Utilisateur s'engage à respecter d'une manière générale les droits de propriété intellectuelle afférents aux Contenus et/ou au Site.
  </p>
  <p class="desc">
    Il s'interdit, notamment (exception faite du cas du droit d'usage personnel et privé qui lui est consenti sur les Contenus et/ou le Site dans le cadre des CGU), de :
  </p>
  <ul class="desc">
    <li>distribuer, reproduire, représenter, adapter, modifier, altérer, publier, transmettre, traduire, vendre ou diffuser, sous quelque forme et par quelque moyen que ce soit, tout ou partie du Site et/ou des Contenus, sans l'autorisation préalable, expresse et écrite d'e-TF1 et/ou du titulaire des droits d'auteur ;</li>
    <li>de détourner et/ou de faire un usage commercial quelconque et par quelque moyen que ce soit, de tout ou partie du Site et/ou de l'architecture et de l'organisation du Site et/ou des Contenus, sans l'autorisation préalable, expresse et écrite d'e-TF1 et/ou du titulaire des droits d'auteur.</li>
  </ul>
  <h3>MARQUES</h3>
  <p class="desc">
    TF1 CONSO ® a fait l'objet d'un dépôt de marque auprès de l'INPI.
  </p>
  <p class="desc">
    D'une manière générale, les marques commerciales, logos et autres signes distinctifs (ci-après le(s) « Marque(s) ») présentes sur le Site sont des Marques déposées appartenant (i) soit à e-TF1 ou au Groupe TF1, (ii) soit à des tiers ayant concédé à e-TF1 les droits et licences nécessaires pour les utiliser sur le Site.
  </p>
  <p class="desc">
    Rien dans le Site ne saurait être interprété comme conférant une quelconque licence ou droit d'utiliser l'une des Marques contenues sur le Site sans l'autorisation préalable et écrite d'e-TF1 et/ou du propriétaire de la Marque. Toute utilisation des Marques est strictement interdite.
  </p>
  <p class="desc">
    L'Utilisateur est averti que e-TF1 fera respecter ses droits de propriété industrielle par tous les moyens légaux à sa disposition, y compris par des poursuites judiciaires.
  </p>
  <br>
  <h2>XII. DISPOSITIONS DIVERSES</h2>
  <p class="desc">
    La nullité, en tout ou partie, de l'une quelconque des dispositions des CGU, en raison de l'existence d'une disposition légale ou réglementaire contraire ou d'une décision de justice devenue définitive, n'entraîne pas la nullité des autres dispositions des CGU ou de la partie de la disposition non entachée de nullité.
  </p>
  <p class="desc">
    L'Utilisateur reconnaît être informé de l'existence des règles et usages en vigueur sur Internet.
  </p>
  <p class="desc">
    L'Utilisateur s'engage, lors de l'utilisation qu'il fera du Site, à ne pas contrevenir à la législation, à la réglementation, aux usages en vigueur, aux intérêts légitimes des tiers et d'e-TF1.
  </p>
  <p class="desc">
    Dans l'hypothèse où e-TF1 constaterait qu'un Utilisateur n'a pas observé l'une des dispositions visées ci-dessus, e-TF1 se réserve le droit, de suspendre ou de supprimer l'accès de cet Utilisateur au Site et/ou de procéder à la suspension ou à la suppression de son Compte Utilisateur, sans mise en demeure préalable. L'exercice ou l'absence d'exercice de ce droit de suspension ou de suppression d'accès au Site et/ou du Compte Utilisateur ne saurait engager la responsabilité d'e-TF1 à l'égard de l'Utilisateur.
  </p>
  <p class="desc">
    En cas de litige relatif aux présentes CGU et/ou à l'utilisation du Site, le droit applicable sera le droit français.
  </p>
  <p class="desc">
    Par ailleurs, tout différend n'ayant pu trouver une issue transactionnelle sera porté devant les tribunaux compétents désignés selon les règles de procédure civile.
  </p>
  <br>
  <br>
  <br>
</div>
