


  <div class="firt-block">
    <p class="title">Editeur :</p>
    <p class="desc">
      e-TF1<br>
      Société par Actions Simplifiée au capital de 1.000.000 €<br>
      RCS : Nanterre B 428 155 691<br>
      Siège social : 1 quai du Point du Jour - 92100 Boulogne Billancourt - France<br>
      N° TVA intracommunautaire FR69 428155 691<br>
      Tel : (+33) 01.41.41.12.34<br>
    </p>
  </div>

  <div class="separateur"></div>

  <div class="firt-block">
    <p class="title">Directeur de la publication :</p>
    <p class="desc">
      Régis RAVANAS<br>

    </p>
  </div>

  <div class="separateur"></div>

  <div class="firt-block">
    <p class="title">Siège social de l’hébergeur :</p>
    <p class="desc">
      CheckAndTake (Plyce)<br>
      Société par Actions Simplifiée au capital de 973.640 €<br>
      RCS : Paris B 532 502 994<br>
      Siège social : 28 B Boulevard de Sébastopol - 75004 Paris - France<br>

    </p>
  </div>

  <div class="separateur2"></div>
