<!-- col marge-->
<div class="offer-col" (mouseover)="hoverDisplay='block'; hover=true; " (mouseleave)="hoverDisplay='none'; hover=false; " (click)="navigateToDetail(offerInfo.offer_id)">


  <!--cell-->
  <div class="offer-cell" [ngStyle]="{'background-image': 'url(' + offerInfo.picture_url + ')'}" [ngClass]="{'offer-cell-hover' : hover}">
    <div class="shopping-footer ">

      <div class="col-xs-7  footer-left">
        <h4 class="offer-shopping-title" [innerText]=" offerInfo.title | truncate: 18: ' ...' "></h4>
        <h4 class="offer-shopping-description" [innerHTML]=" description | truncate: 26: ' ...' ">  </h4>

      </div>
      <div class="col-xs-5 ">
        <a  class="btn btn-profit">J'en profite</a>
      </div>

    </div>

  </div>




  <div class="text-hover" [ngStyle]="{'display':hoverDisplay }" (mouseover)="hoverDisplay='block'; hover=false; ">
    <h3 class="blur-title">{{offerInfo.title}}</h3>
      <h4 class="blur-description" [innerHTML]=" description | truncate: 160: '...': true">  </h4>
    <a  class="btn btn-profit btn-hover" [ngStyle]="{'display':hoverDisplay }" (click)="navigateToDetail(offerInfo.offer_id)">J'en profite</a>
  </div>


</div>
