.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 58px;
  padding-right: 58px;
}
.title-profile{
  font-family:'Source Sans Pro';
  font-weight: 600;
  font-size: 40px;
  color: #16232F;
  margin-bottom: 20px;
}
.div-btn{
  text-align: center;margin-top: 30px;
}
.form-contact{background-color: #F7F7F7;}

.form-contact .form-control{

  border: none;
  color: black;
  border-radius: 0px;
  box-shadow:none;
  opacity: 1;
  font-size:20px;font-family:'Source Sans Pro';font-weight: 600;font-style:italic;color: #51535D;
  padding-left: 20px;
  background:  white;
  background-size: 12px 18px;
  background-position: 98% 50%;
}

.form-contact .form-control:focus{
  box-shadow:none;
  opacity: 1;
}
.form-contact .form-control::-webkit-input-placeholder {font-size:20px;font-family:'Source Sans Pro';font-weight: 600;font-style:italic;color: #51535D; }
.form-contact .form-control:-moz-placeholder { font-size:20px;font-family:'Source Sans Pro';font-weight: 600;font-style:italic;color: #51535D;}
.form-contact .form-control::-moz-placeholder { font-size:20px;font-family:'Source Sans Pro';font-weight: 600;font-style:italic;color: #51535D;}
.form-contact .form-control:-ms-input-placeholder { font-size:20px;font-family:'Source Sans Pro';font-weight: 600;font-style:italic;color: #51535D;}

.input-height{
  height: 70px;
}
.div-global{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}
#comment{
  resize: none;
}
.fb-inscri-btn{
  font-family:'Source Sans Pro';
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  background-color: #465FA2;
  border: none;
  border-radius: 24px;
  outline: 0;
  width: 365px;
  margin-bottom: 100px;
}

.fb-inscri-btn.btn-primary:active:hover{
  opacity: 0.75!important;
  outline: 0;
  background-color: #465FA2;
}
.error-input{
  border: 1px solid red!important;
}
@media (max-width: 699px) {

  .div-global{
    width: 100%;
    padding-top: 0px;
  }
  .title-profile{
    font-size: 28px;
  }
  .container-fluid{
    text-align: center;
  }
  .captcha{
    display: none;
  }
  .fb-inscri-btn{
    width: 202px;
    font-size: 17px;
  }
  .form-contact {
    background-color: #F7F7F7;
    margin-bottom: -15px;
  }
  .div-btn{
    margin-top: 20px;
  }
  .fb-inscri-btn{
    margin-bottom: 35px;
  }

}
@media screen  and (min-width: 700px) and (max-width: 885px) {
  .div-global {
    width: 80%;
  }
}
