<footer>
<div class="footer-logo">
<img src="../../../assets/images/footer/footer_logo.png" width="140" height="27">
<p class="footer-txt">Copyright &copy; 2017 e-TF1 Tous droits réservés</p>
<ul>
    <li>
        <a class="footer-txt" routerLink="/mentions-legales">Mentions légales</a>
    </li>
    <li>
        <a class="footer-txt" routerLink="/cgu/coupons-shopping">CGU coupons shopping</a>
    </li>
    <li>
        <a class="footer-txt" routerLink="/cgu/coupons-alimentaires">CGU coupons alimentaires</a>
    </li>
    <li>
        <a class="footer-txt"  href="{{linkPolitique}}">Politique de confidentialité</a>
    </li>
    <li>
        <a class="footer-txt"  href="{{linkCookies}}">Cookies</a>
    </li>
    <li>
        <a class="footer-txt" routerLink="/contact">Contact</a>
    </li>
</ul>
</div>
</footer>
