

    <div class="first-content">
      <img src="../../../assets/images/printed/ILLU_print.png" class="img-responsive center-image image1-size" >
       <p class="txt-first-1">Vos coupons ont bien été imprimés. Ne les perdez pas et courez en magasin pour en profiter.<br class="br-first">
         À bientôt pour toujours plus d’économies.
       </p>
      <button  class="revenir-btn btn btn-primary" [routerLink]="['/']">REVENIR AUX OFFRES</button>
      <div class="first-content2">
        <p class="txt-first-2">
          Sachez que les coupons ne sont valables qu’un mois seulement après l’impression.<br>
          Chaque membre dispose d’un nombre limité d’impressions pour chaque coupon.<br>
          Si un coupon ne s’imprime pas, vous l’avez probablement déjà imprimé.<br>
        </p>
      </div>
    </div>
    <div class="second-content">
      <div class="row" style="margin: 0;">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
          <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12 div-padd">
            <p class="txt-second-1">Profitez de TF1 Conso sur votre mobile</p>
            <p class="txt-second-2">Bénéficiez de coupons alimentaires réservés aux utilisateurs de l’application.</p>
            <p class="txt-second-2">Retrouvez tous vos coupons shopping préférés et présentez les directement sur votre smartphone lors de votre passage en caisse.</p>
            <div class="images" >
              <span class="span-div"><a href="{{appleStore}}" target="_blank"><img class="image-app" src="../../../assets/images/shopping-offer/App-Store.png" width="172" height="50"></a></span>
              <span class="span-div"><a href="{{googleStore}}" target="_blank"><img class="image-goog" src="../../../assets/images/shopping-offer/Google-Store.png" width="172" height="50"></a></span>
            </div>
          </div>
          <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12">
            <img src="../../../assets/images/printed/ILLU.png" class="img-responsive marge-photo">
          </div>

        </div>

      </div>

    </div>

