<div>
   <img src="../assets/images/first-page/logo.png" class="logo">
   <h2 class="center-title">Téléchargez TF1 Conso pour </h2>
   <h2 class="center-title">profiter des offres </h2>
   <img src="../assets/images/first-page/mobile-icon.png" class="logo-mobile">
   <p class="center-txt">
   	Bénéficiez de coupons alimentaires réservés aux<br>
     utilisateurs de l'application.
   	<br>
    <br>
    Retrouvez tous vos coupons shopping préfèrés <br>et présentez les directement sur votre smartphone
    lors<br> de votre passage en caisse.
   </p>
   <button type="button" class="btn download-btn" (click)="startApp()">TÉLÉCHARGER L'APPLICATION
   </button>
   <br>
   <p class="center-line" (click)="toWebSite()" >Continuer sur le site web mobile</p>
</div>
